<!-- <div class="card">
    <div class="card2">
        <img [src]="imagen" [alt]="'imagen de ' + pokemon" width="180" height="234">
    </div>
  </div> -->
  <div class="card">
    <div id="cardnewfilter"><p>{{id}}</p>
    </div>
    <div id="cardbrightfilter"></div>
    <div id="cardtop">
      <img [src]="imagen" [alt]="'imagen de ' + pokemon">
    </div>
    <div id="cardbottom">
      <p id="cardbottomtitle">{{pokemon}}</p>
      <button (click)="clickName.emit(pokemon)">Ver pokemon</button>
    </div>
  </div>
<!-- @for (hability of habilities; track $index){
    <p>{{hability}}</p>
} -->